body {
    background-color: rgba(255, 235, 205, 0.522);
    font-family: 'Futura Std', sans-serif;
                                                

}
#img {
    text-align: center;
}
#intestazione {
    text-align: center;
    background-color: rgb(245, 222, 179);
    border-radius: 50%;
    color: brown;
}

#informazioni {
    text-align: center;
    font-size: smaller;
}

.sec-title {
    border-radius: 50%;
    color: black;
    background-color: rgba(165, 42, 42, 0.267);
}

.sec-sub-title:before {
    content: "\2743" " ";
}

.sec-sub-title {
    text-indent: 1em;
    margin-bottom: 0.5em;
}

.p-sec {
    margin-top: 0.5em;
    padding-left: 2em;
}